/* General Component Styles */
img {
    max-width: 220px;
    max-height: 180px;
    object-fit: cover;
}

.search {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    margin-bottom: 20px;
    padding: 0 15px;
    box-sizing: border-box;
}

.search input {
    width: calc(100% - 100px);
    border-top-left-radius: var(--border-radius);
    border-bottom-left-radius: var(--border-radius);
    border: var(--border-hover);
    height: 40px;
}

.search button {
    border-top-right-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
    min-width: 120px;
    height: 40px;
    padding: 10px 10px;
    font-size: 15px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.categories-menu {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 20px;
    padding: 0 15px;
    box-sizing: border-box;
}

.categories-menu>div {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 15px;
}

.categories-menu button {
    max-width: 200px;
    min-height: 30px;
    padding: 10px 15px;
    font-size: 16px;
}

/* Media Queries for Smaller Screens */
@media (max-width: 767px) {
    .search {
        padding: 0 10px;
        /* Reduce padding for smaller screens */
    }

    .search input {
        width: calc(100% - 60px);
        /* Adjust width to fit better */
        font-size: 14px;
        height: 36px;
        /* Adjust height for better fit */
    }

    .search button {
        min-width: 60px;
        font-size: 14px;
        /* Adjust font size */
        height: 36px;
        /* Adjust height for better fit */
    }

    .categories-menu>div {
        grid-template-columns: repeat(2, 1fr);
        /* Two columns for better fit */
    }

    .categories-menu button {
        max-width: 100%;
        /* Full width for buttons */
        min-height: 36px;
        /* Adjust height */
        font-size: 14px;
        /* Adjust font size */
        padding: 8px 10px;
        /* Adjust padding for fit */
    }

    h1 {
        font-size: 20px;
        /* Increase font size for readability */
        text-align: center;
        margin-bottom: 20px;
        /* Add margin for spacing */
    }
}

/* Media Queries for Mid-sized Screens */
@media (min-width: 500px) and (max-width: 767px) {
    .search input {
        width: calc(100% - 90px);
        /* Adjust width for mid-sized screens */
        font-size: 15px;
        height: 40px;
    }

    .search button {
        min-width: 90px;
        font-size: 14px;
        height: 40px;
    }

    .categories-menu>div {
        grid-template-columns: repeat(3, 1fr);
        /* Three columns for better fit */
    }

    h1 {
        font-size: 22px;
        text-align: center;
        margin-bottom: 20px;
    }
}

/* Media Queries for Larger Screens */
@media (min-width: 768px) {
    /* No changes for PC layout */
}